---
layout: layout.njk
title: Domov
---
<section><div class="container">
<h2>Starostlivosť o vaše deti s trpezlivosťou a pochopením</h2>
<p>Prijímame nových pacientov. Uprednostňujeme krátke čakacie doby, rozumné používanie antibiotík a zrozumiteľnú komunikáciu.</p>
<p><a class="btn" href="/kontakt/">Objednať sa / kontakt</a></p>
</div></section>
